<button
  class="btn btn-primary" 
  (click)="newGame(wordsList)"
  >Começar um novo jogo
</button>

<div class="result">
  <app-result class="result"
    [setHiddenWord]="hiddenWord"
  >
  </app-result>
</div>

<div>
  <span>Escolha uma letra: </span>
  <input 
    type="text"
    maxlength="1"
    #jogadaInput
    (click)="jogadaInput.value =''"
  />
  <button
    class="btn btn-primary" 
    (click)="add(jogadaInput.value)">Jogar</button>
</div>
<h4>Letras Jogadas</h4>
<div class="jogadas">
  <span *ngFor="let jogada of jogadas">
    <b>{{ jogada }}</b> -
  </span>
</div>
